#home {
  position: relative;
}
.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0;
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.badge-cmp,
.tag-cmp {
  padding: 1rem;
  border: white;
  background-color: white;
  border-radius: 15px;
  flex-direction: row;
  width: auto;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.tag-cmp {
  flex-direction: column;
  margin-top: 3rem;
}
.tag-cmp p {
  width: 100%;
  text-transform: uppercase;
  text-align: right;
}

.badge-cmp span {
  font-size: 2.5rem;
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
}
.app__header-circles div {
  width: 80px;
  height: 80px; /* Decrease size for all screens */
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
}
.app__header-circles img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app__header-circles div:nth-child(1) {
  width: 100px;
  height: 100px;
}
.app__header-circles div:nth-child(2) {
  margin: 1.25rem;
  width: 150px;
  height: 150px;
}
.app__header-circles div:nth-child(3) {
  width: 120px;
  height: 120px;
}
.app__header-circles div:nth-child(4) {
  margin: 1.85rem;
  width: 200px;
  height: 200px;
}

.app__header-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.app__header-img img {
  width: 100%;
  object-fit: contain;
  z-index: 1;
}
.app__header-img .overlay_circle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 80%;
}

@media screen and (min-width: 2000px) {
  .app__header {
    padding-top: 8rem;
  }
  .app__header-info {
    width: 100%;
    margin-right: 0rem;
  }
  .badge-cmp span {
    font-size: 5rem;
  }
  .app__header-circles div:nth-child(1) {
    width: 180px;
    height: 180px;
  }
  .app__header-circles div:nth-child(2) {
    width: 150px;
    height: 150px;
  }
  .app__header-circles div:nth-child(3) {
    width: 120px;
    height: 120px;
  }
  .app__header-circles div:nth-child(4) {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .app__header {
    flex-direction: column;
  }
  .badge-cmp span {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app__header-circles {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .app__header-circles div {
    margin: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .app__header {
    padding: 6rem 1rem 2rem;
  }
  .app__header-circles .circle-cmp:nth-child(1),
  .app__header-circles .circle-cmp:nth-child(2),
  .app__header-circles .circle-cmp:nth-child(3),
  .app__header-circles .circle-cmp:nth-child(4) {
    width: 50px;
    height: 50px;
  }

  .app__header-img {
    padding: 6rem 1rem 2rem;
  }
  .app__header-circles .circle-cmp {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 396px) {
  .app__header {
    padding: 6rem 1rem 2rem;
  }
  .app__header-circles .circle-cmp:nth-child(1),
  .app__header-circles .circle-cmp:nth-child(2),
  .app__header-circles .circle-cmp:nth-child(3),
  .app__header-circles .circle-cmp:nth-child(4) {
    width: 40px;
    height: 40px;
  }

  .app__header-img {
    padding: 1rem 1rem 2rem;
  }
  .app__header-circles .circle-cmp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 520px) {
  .app__header-badge {
    padding: 0rem;
  }

  .app__header-info {
    height: 10%;
    font-size: 12px;
  }

  .badge-cmp,
  .tag-cmp {
    font-size: 12px;
  }

  .tag-cmp {
    margin-top: 12px;
  }
  .app__header-img {
    padding: 1rem 1rem 2rem;
  }

  .badge-cmp .nameclass {
    font-size: 20px;
  }
  .app__header-circles div:nth-child(1),
  .app__header-circles div:nth-child(2),
  .app__header-circles div:nth-child(3),
  .app__header-circles div:nth-child(4) {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 810px) {
  .app__header-badge {
    padding: 0rem;
  }
  .app__header-img {
    justify-content: center;
    align-items: center;
  }
  .app__header-img img {
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  .app__header-info {
    height: 10%;
    font-size: 12px;
  }
  .badge-cmp,
  .tag-cmp {
    font-size: 12px;
  }

  .app__header-circles div:nth-child(1),
  .app__header-circles div:nth-child(2),
  .app__header-circles div:nth-child(3),
  .app__header-circles div:nth-child(4) {
    width: 50px;
    height: 50px;
  }
}
